#infos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image-phrase{
    width: 100%;
    height: 70vh;
    background-image: url(../img/image-infos.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.image-phrase{
    font-size: 2.875rem;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 10px #fff;
}

.information{
    height: 35vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 60px 140px 0 140px;
}

.social-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
}

.social{
    margin: 10px;
    height: 58px;
    width: 58px;
    border-radius: 200px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    color: var(--primary-color);
}

.social a i{
    font-size: 2rem;
} 

.contato-item{
    display: flex;
    gap: 15px;
    transition: all 400ms ease-in-out;
    cursor: default;
}

.contato-item i {
    font-size: 1.5rem;
    color: var(--primary-color);
    width: 20px;
}

.contato-item__text{
    font-size: 1.125rem;
    font-family: 'Lexend', sans-serif;
    color: var(--primary-color);
}


.contato-titulo{
    font-weight: 400;
    font-size: 1.5rem;
}

.know-more{
    font-size: 1.188rem;
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: start;
    align-items: center;
}

.know-more span{
    max-width: 270px;
    text-align: center;
}

.know-more a{
    width: 125px;
    height: 42px;
}

.know-more button{
    background-color: transparent;
    border: 3px solid var(--primary-color);
    width: 125px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.know-more button:hover{
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.1);
}

.contato-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.2);
}


.contato-item:hover{
    transform: scale(1.1);
}